
tbody,thead{
    color: #818888;
}
tbody tr:hover{
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
}

.active{
    background-color: #fff;
    font-weight: 500;
    color: black;
}

.listing-coverart{
    border-radius: 7px;
    margin-right: 15px;
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.main-music-list{
    padding: 0px 225px;
    margin-bottom: 10px;
    font-size: 15px;
    /* text-align: center; */
}

.track-name{
    white-space: nowrap; 
    display: inline-block;
    width: 350px; 
    overflow: hidden;
    text-overflow:ellipsis;
    vertical-align: middle;
}

.artist-name{
    white-space: nowrap; 
    display: inline-block;
    width: 250px; 
    overflow: hidden;
    text-overflow:ellipsis;
    vertical-align: middle;
}

.favourite-icon{
    -webkit-text-stroke: 1.5px grey;
    -webkit-text-fill-color: transparent;
}

tr:hover .favourite-icon{
    -webkit-text-stroke: 1.5px black;
}

.favourite-icon[data-like="1"],
tr:hover .favourite-icon[data-like="1"]{
    -webkit-text-fill-color:#e72c30;
    -webkit-text-stroke: 1.5px#e72c30;
}

.remove-icon{
    -webkit-text-fill-color: #80808099;
    font-size: 14px;
    vertical-align: middle;
}

.remove-icon:hover, tr:hover .remove-icon{
    -webkit-text-fill-color: black;
    font-size: 14px;
    vertical-align: middle;
}


@media (min-width: 320px) and (max-width: 480px) {

    .main-music-list{
        padding: 0px;
        margin-bottom: 10px;
        font-size: 15px;
        margin-top: 17px;
        margin-left: 10px;
    }

    .track-name{
        white-space: nowrap;
        /* display: inline-block; */
        width: 207px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

}