<div class="table-responsive">          
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>TITLE</th>
                <th>ARTISTS</th>
                <th>DURATION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let music of music_list;let i = index" (click)="playMusic()">
                <td>{{i+1}}</td>
                <td>{{music.title}}</td>
                <td>{{music.artist}}</td>
                <td>{{music.duration}}</td>
            </tr>
        </tbody>
    </table>
</div>