/* .sidebar{
    /* padding: 0px; */
/* }  */

.p-0{
    padding: 0px;
}

.main{
    height: 657px;
    background-color: #F6F7FB;
}

.sidebar-main{
    background-color: #3C3E4D;
    padding: 0px;
    height: 657px;
}

.sidebar-main li {
    color: white;
    background-color: #3C3E4D;
    padding-top: 27px;
    padding-bottom: 27px;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.sidebar-main li.active{
    color: white;
    background-color: #282A37;
    padding-top: 27px;
    padding-bottom: 27px;
    list-style-type: none;
    text-align: center;
    border-left: 6px solid #92A4D4;
}
.sidebar-main li:last-child{
    margin-top: 376px;
}

.sidebar-main li:hover{
    background-color: #282A37;
    border-left: 6px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

table{
    background-color: #ffffff;
}

.pagination-nav{
    text-align: center;
}

.pagination{
    margin: 0 auto;
}

td .btn{
    margin-right: 10px;
}