<div class="main-music-info">
    <div class = "top-coverart" #albumArt></div>
    <div class = "top-song-info">
        <ul>
            <h3>{{musicInfo.artistName}} Songs</h3>
            <li><b>Album</b>: {{musicInfo.album}}</li>
            <li><b>Genre</b>: {{musicInfo.genre}}</li>
            <li><b>Now Playing</b>: {{musicInfo.nowPlaying}}</li>
        </ul>
        <button class="btn btn-outline-dark Play-all-btn" (click) = "playNext()" [disabled] = "!pageStatus">Play Next</button>
    </div>
</div>
<div *ngIf = "searchList; else loader">
    <music_listing [music_list] = "searchList" [meta] = "meta" [selectedItem] = "selectedItem" (notify) = "musicListActions($event)"></music_listing>
</div>

<ng-template #loader>
    <div style="text-align:center">{{pageStatus ? 'Loading........' : 'No Favourites Added'}}</div>
</ng-template>

<audio_player></audio_player>