<div class="search-section-main">
    <div class="search-section-title">Find Music</div>
    <div class="form-inline col-sm-8 offset-sm-2">
        <input type="text" class="form-control col-sm-10" [(ngModel)] = "searchValue" placeholder="Search your favourite artist, album or music" (keyup.enter) = "searchMusic()"  />
        <button class="col-sm-2 btn btn-primary" [disabled] = "!searchValue" (click) = "searchMusic()" >Search</button>
    </div>
    <div class="favourites-link">
        <a href="./my_music/favourites">My Favourites <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
</div>

<div class="recomdn-main" *ngIf = "latestMusicList; else loader">
    <h3 class="explore-music-label">Explore Music</h3>
    <div class="recomdn-card" *ngFor="let song of latestMusicList" >
        <img class="card-albumart" src="{{song.artworkUrl200}}"/>
        <div class="card-info">{{song.artistName}}</div>
        <a class="card-link" routerLink="/artist/{{song.artistName}}"></a>
    </div>
</div>

<ng-template #loader>
    <div class="recomdn-main" style="text-align:center">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>
    </div>
</ng-template>