.search-section-main{
    background-color: black;
    color:#fff;
    height: 230px;
}

.search-section-title{
    text-align: center;
    padding: 41px 0px;
    font-size: 46px;
}

.recomdn-card{
    display: inline-block;
    height: 242px;
    width: 200px;
    margin: 0px 15px;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
}

.card-albumart{
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 7px;
}

.card-info{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-family: -webkit-body;
    letter-spacing: 1px;
}

.card-link{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* text-indent: -9999px; */
    z-index: 1000;
}

.favourites-link{
    display: block;
    margin-top: 11px;
    text-align: -webkit-right;
    padding-right: 13px;
}

.favourites-link a{
    color: #fff;
    text-decoration: none;
}

.favourites-link i{
    display: none;
}

.favourites-link a:hover i{
    display: inline;
    color: #fff;
}


.explore-music-label{
    margin-left: 15px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
    .recomdn-main{
        width: 76%;
        margin: 0 auto;
        margin-top: 70px;
    }
} 

@media only screen and (min-width: 1550px) {
    .recomdn-main{
        width: 61%;
        margin: 0 auto;
        margin-top: 70px;
    }
}